body {
    background-color: white;
}
nav {
    display:flex;
    justify-content:flex-end;
}
.navItem {
    color: black;
    padding: 1%;
    padding-bottom: 8%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.homeIcon {
  padding-right: 75%;
  cursor:pointer;
}

i {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 3.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

section {
    display:flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.Postit {
    display: flex;
    flex-direction: column;

}
button {
    background-color: none;
    border-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2% 2% 2% 2% ;
  }
  
h5 {
    margin: 0;
}

.iconFooter {
  margin: 0;
  size-adjust: 20%;
  padding: none;
  }

.H2 {
  padding-left: 10%;
  padding-top: 15%;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.headings3 {
  padding: 30% 0% 0% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skillsCopy {
  padding-top: 0%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
}

h3 {
  padding: 5% 5% 5% 0%;
}


h4 {
  font-family: sans-serif;
  font-size: 40px;
  padding-top: 10%;
  padding-left: 10;
  color: white;
}

.tools {
  font-family: sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0%;
  padding-top: 0%;
  color: white;
}

.blackbox {
  background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header CS_Mockup1 CS_Mockup2"
      "Header CS_Detail1 CS_Detail2";
    padding-top: 20%;
  }
  
  .Header { 
      grid-area: Header; 
      font-family: 'Arial Narrow Bold', sans-serif ;
      font-size: 50px;
      padding-left: 20%;
    }
  
  .CS_Mockup1 { 
      grid-area: CS_Mockup1; 
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  
  .CS_Mockup2 { 
      grid-area: CS_Mockup2; 
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  
  .CS_Detail1 { 
      grid-area: CS_Detail1;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      padding-top: 20%;
      padding-right: 20%;
     }
  
  .CS_Detail2 { 
      grid-area: CS_Detail2;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      padding-top: 20%;
      padding-right: 30%; 
    }

    @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 1fr auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header" 
    "CS_Mockup1"
       "CS_Detail1"  
       "CS_Mockup2"
      "CS_Detail2";
  }
  .CS_Detail1 { 
    grid-area: CS_Detail1;
    padding-top: 5%;
    padding-bottom: 5%;
   }

.CS_Detail2 { 
    grid-area: CS_Detail2;
    padding-top: 10%; 
    padding-bottom: 5%;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20% 20% 20% 20% ;
  }

  .headings3 {
    padding: 30% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .skillsCopy {
    padding-top: 0%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
  }

  .tools {
    font-family: sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0%;
    padding-top: 0%;
    color: white;
  }

}